*{
  margin : 0;
  box-sizing: border-box;
}

h1{
  font-size: 50px;
}

.header{
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
  
}

select{
  padding:10px;
}

.options{
  margin-left: 20px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.buttons{
  padding-bottom : 20px;
}

#start,#reset{
  padding: 10px 30px;
  margin: 0px 5px;
}

.slider{
  margin: 0px 15px;
}



.section {
  margin: 20px auto;
  text-align: center;
}

#sorting-view {
  margin-top: 50px;
  width: 80vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.bar {
  background-color: #7CFC00;
  border: 1px solid black;
  margin: 1px;
  position: relative;
  transition: transform .2s ease-out;
  
}

#sorting-view{
  margin-left : 7%;
  margin-right : 10%;
  width: 85%;
  position: absolute;
  bottom: 0px;
}

.bar-title {
  
  font-size:15px;
  position: absolute;
  top: -20px;
  margin-left: -8px;
}





#top-bar, #sorting-view, .nav-bar-item {
  font-weight: bold;
  margin-bottom: 10px;
}
select, input {
  margin-right: 10px;
}

#nav-bar {
  margin-top: 50px;
}
